<div class="inline">
    <div class="inline-block m-4">
        <img src="https://picsum.photos/500/300?grayscale" alt="" srcset="">
        <p class="text-gray-500">Lorem ipsum dolor sit.</p>
        <h2>This is Hero section example 
            <span class="font-bold text-blue-500">
                for website
        </span> </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam voluptas architecto tempora placeat omnis
            ut nisi accusantium quibusdam eius cumque!</p>
            <button class="pr-4 pl-4 p-2 bg-yellow-600 mt-2 rounded-md text-white">Read More</button>
    </div>
</div>