<div class="p-2">
    <div class="flex flex-col">
        <h2 class="border-b-2 w-[150px] border-yellow-600">Recent work </h2>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="grid grid-cols-2 gap-2">
        <img src="https://picsum.photos/200/200?grayscale" alt="" srcset="">
        <img src="https://picsum.photos/200/200?grayscale" alt="" srcset="">
        <img src="https://picsum.photos/200/200?grayscale" alt="" srcset="">
        <img src="https://picsum.photos/200/200?grayscale" alt="" srcset="">
        <img src="https://picsum.photos/200/200?grayscale" alt="" srcset="">
    </div>
</div>