<div class="inline">
    <div>
        <h2 class="pt-2 pl-4 border-b-2 w-[250px] border-yellow-600">Lorem, ipsum dolor.</h2>
        <p class="p-4 pt-2 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore iure
            voluptates repellendus exercitationem
            ut aliquam veniam voluptatem soluta quis quidem!</p>
        <div class="pl-4  text-blue-500 font-bold"><a href="#">READ MORE</a></div>
        <img src="https://picsum.photos/500/300?grayscale" alt="" srcset="">

    </div>

    <div>
        <h2 class="pt-2 pl-4 border-b-2 w-[250px] border-yellow-600">Lorem, ipsum dolor.</h2>
        <p class="p-4 pt-2 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore iure
            voluptates repellendus exercitationem
            ut aliquam veniam voluptatem soluta quis quidem!</p>
        <div class="pl-4 text-blue-500 font-bold"><a href="#">READ MORE</a></div>
        <img src="https://picsum.photos/500/300?grayscale" alt="" srcset="">

    </div>
    <div>
        <div class="flex mt-4 m-2">
            <img src="https://picsum.photos/150/50?grayscale" alt="" srcset="">
            <div class="pl-2">
                <h2 class="text-lg">Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, officiis.</p>
            </div>
        </div>
        <div class="flex mt-4 m-2">
            <img src="https://picsum.photos/150/50?grayscale" alt="" srcset="">
            <div class="pl-2">
                <h2 class="text-lg">Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, officiis.</p>
            </div>
        </div>
        <div class="flex mt-4 m-2">
            <img src="https://picsum.photos/150/50?grayscale" alt="" srcset="">
            <div class="pl-2">
                <h2 class="text-lg">Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, officiis.</p>
            </div>
        </div>
    </div>
</div>