<header>
    <div class="p-4 text-[20px]">This <span class="text-blue-600">Logo</span></div>
    <nav class="hidden">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>

    <div id="hamburger" class="absolute z-20 right-4 top-4 inline-block space-y-1">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
    </div>
    
</header>
